*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

.text{
    width: 80%;
    height: 200px;

    border: 1px rgb(235, 33, 235) solid;
    padding: 10px;
    margin: auto;
    margin-top: 50px;

    text-align: left;
    text-align-last: left;
    text-transform: capitalize;

    word-spacing: 10px;
    line-height: 32px;

    word-wrap: break-word;
    word-break: break-all;
    /* white-space: nowrap; */
  }
  .underline {
    /* letter-spacing: 5px; */
    text-decoration: underline red solid 2px;
    text-transform: uppercase;
  }